@import '../../style/variables.scss';

.single-comic {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    &__img {
        width: 293px;
        height: 450px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin-top: 25px;
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
}
.my-comic-enter {
    opacity: 0;
    transform: scale(0.3) rotate(15deg);
    
  }
  .my-comic-enter-active {
    transition: all 500ms;
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  .my-comic-exit {
    transition: all 500ms;
  }
  .my-comic-exit-active {
    opacity: 1;
    transition: all 500ms;
  }
  .single{
    &-char{
      margin-top: 50px;
        display: grid;
        grid-template-columns: 293px 550px auto;
        column-gap: 50px;
        &__descr{

            font-size: 18px;
            margin-top: 25px;
        }
        &__name{
            font-weight:bold;
            font-size: 28px;
            color: #000000;
        }
    }
}
img{
    max-width: 290px;
    max-height: 290px;
}
.link-back{
    color: rgba(255, 0, 0, 0.699);
    font-weight:bold;
}
.my-char-enter {
    opacity: 0;
    transform: scale(0.3) rotate(15deg);
  }
  .my-char-enter-active {
    transition: all 500ms;
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  .my-char-exit {
    transition: all 500ms;
  }
  .my-char-exit-active {
    opacity: 1;
    transition: all 500ms;
  }